@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #111111, #6d3602);
}
.App {
  display: flex;
  flex-direction: column;
}
.App img {
  max-width: 500px;
  max-height: 500px;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  text-decoration: none;
}
.logo {
  width: 60%;
  display: flex;
  align-items: center;
  pointer-events: none;
}
.logo h2 {
  padding: 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  text-decoration: none;
}
.logo img {
  width: 50px;
  height: 50px;
  margin: 10px;
}
.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav a {
  text-decoration: none;
}
.nav__links li {
  display: inline;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  padding: 20px;
  list-style: none;
}
.nav__links li a {
  text-decoration: none;
  color: #fff;
}

@media only screen and (max-width: 640px) {
}

.paddingleft {
  padding-left: 10px;
}
